.form-inp{
    margin-left: 40%;
    margin-right: 40%;
}
h1{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
img{
    margin-top: 10%;
    margin-bottom: 20px;
}